h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-top: -9px;
  margin-bottom: 10px;
}

strong {
  font-weight: 700;
}

.nav-bar-center {
  display: block;
  float: none;
  text-align: right;
}

.nav-text {
  display: inline-block;
  float: none;
  clear: none;
  font-family: Roboto, sans-serif;
  color: #265b4a;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
}

.nav-text:hover {
  font-weight: 700;
}

.nav-text:focus {
  color: #2c6150;
}

.nav-text.w--current:hover {
  font-weight: 700;
}

.nav-text.w--current:active {
  background-color: rgba(39, 92, 75, 0.26);
}

.nav-text.w--current:focus {
  color: #265b4a;
}

.background {
  position: relative;
  display: block;
  overflow-x: scroll;
  overflow-y: scroll;
  height: 600px;
  background-color: #3a3a3a;
  background-image: url('../images/Shaded imageV2.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-style: normal;
}

.about {
  height: 478px;
  margin-top: 0px;
  margin-bottom: 100px;
  background-color: white;
}

.about.about-container {
  height: auto;
  padding: 80px 50px;
}

.about.contact-section {
  margin-top: 10px;
  box-shadow: black 0px 1px 10px 0px;
}

.about-pic {
  display: block;
  width: auto;
  min-height: 250px;
  min-width: 250px;
  margin-right: 0px;
  margin-left: 24px;
  padding: 0px;
  float: right;
  text-align: right;
}

.work-div {
  height: auto;
  margin-top: 100px;
  margin-bottom: 40px;
  padding-top: 8px;
  padding-bottom: 67px;
  background-color: white;
  box-shadow: rgba(8, 8, 8, 0.29) 0px -1px 10px 0px, rgba(8, 8, 8, 0.29) 0px 1px 10px 0px;
}

.work-div.section {
  box-shadow: #1d1d1d 0px 1px 10px 0px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
}

.work-header-text {
  margin-top: 28px;
  margin-bottom: 5px;
  padding-top: 31px;
  font-family: Lato, sans-serif;
  color: #265b4a;
  font-weight: 900;
  text-align: center;
}

.contact-section {
  height: auto;
  margin-top: 0px;
  margin-bottom: 1px;
  background-color: white;
  box-shadow: rgba(8, 8, 8, 0.29) 0px -1px 10px 0px, rgba(8, 8, 8, 0.29) 1px 1px 10px 0px;
}

.contact-section.contact-class2 {
  margin-top: 100px;
  margin-bottom: 75px;
  box-shadow: black 0px 1px 10px 0px;
}

.contact-form {
  display: block;
  width: 266px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 45px;
  padding-bottom: 48px;
  float: none;
  direction: ltr;
  text-align: center;
}

.get-in-touch-text {
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: Merriweather, serif;
  font-size: 25px;
}

.feild-label {
  margin-top: 5px;
  float: left;
  font-family: Roboto, sans-serif;
  font-size: 15px;
}

.feild-label.top-field-label {
  margin-top: 24px;
  font-family: Roboto, sans-serif;
}

.contact-message-box {
  width: 265px;
  height: 143px;
  margin-top: 1px;
  border-color: rgba(128, 128, 128, 0.26);
  border-radius: 2px;
  background-color: #fafafa;
  line-height: 14px;
  text-align: left;
  text-indent: 0px;
}

.contact-message-box:focus {
  border-color: #265b4a;
  box-shadow: #265b4a 0px 0px 6px 2px;
}

.work-container {
  display: block;
  margin: 18px auto 34px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-align: center;
}

.about-me-text {
  max-height: 149px;
  max-width: 475px;
  margin-top: 5px;
  margin-left: 0px;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.hi {
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  font-family: Lato, sans-serif;
  color: #265b4a;
  font-weight: 900;
}

.quote {
  position: static;
  left: 0px;
  bottom: 0px;
  z-index: 40;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 54%;
  height: auto;
  margin: 275px 100px 0px 0px;
  padding: 0px 0px 0px 19px;
  float: right;
  clear: none;
  font-family: Bitter, serif;
  color: white;
  font-size: 264%;
  line-height: 53px;
  font-style: normal;
  font-weight: 300;
}

.work-icon {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 220px;
  margin: 10px auto 0px;
  padding: 10px;
  clear: both;
  -webkit-perspective-origin: 100% 100%;
  perspective-origin: 100% 100%;
}

.mass-image {
  max-width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  border: 1px solid black;
  box-shadow: #6d6d6d 2px 2px 6px 0px;
}

.mass-body {
  margin-top: 0px;
  margin-left: 0px;
  background-color: white;
}

.section-top-cover {
  min-height: 200px;
  min-width: 200px;
  background-image: url('../images/postIt-pile.jpg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.image1 {
  margin-right: 29px;
  margin-bottom: 60px;
  padding-right: 32px;
  float: right;
}

.photo2 {
  margin-top: 9px;
  margin-bottom: 14px;
  margin-left: 60px;
  padding-right: 21px;
  padding-left: 17px;
  float: left;
}

.subtitle {
  margin-top: -14px;
  margin-bottom: 25px;
  padding-top: 0px;
  text-align: center;
}

.story {
  max-width: 461px;
  margin-top: 17px;
}

.navbar {
  position: fixed;
  width: 100%;
  clear: both;
  background-color: white;
  background-image: -webkit-linear-gradient(white 41%, #ebe9e9);
  background-image: linear-gradient(white 41%, #ebe9e9);
  box-shadow: black 0px 0px 25px 0px;
}

.footer {
  margin-top: 0px;
  background-color: #292929;
}

.footer-text {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Roboto, sans-serif;
  color: #f3f3f3;
  font-size: 11px;
  font-weight: 400;
}

.footer-text.footer-small-text {
  font-family: Roboto, sans-serif;
  font-size: 11px;
}

.footer-big-text {
  float: left;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.entry-header1 {
  margin-top: 66px;
  text-align: center;
}

.entry-container {
  font-family: 'Open Sans', sans-serif;
}

.entry-images-col {
  margin-top: 72px;
  text-align: center;
}

.entry-image {
  margin-top: 10px;
  margin-bottom: 10px;
}

.form {
  margin-top: 6px;
  margin-bottom: 16px;
  text-align: center;
}

.get-in-touch {
  margin-top: 22px;
  margin-bottom: 58px;
  padding-top: 1px;
  padding-bottom: 0px;
  color: #066964;
  font-size: 38px;
}

.resume-container {
  border-width: 1px;
  text-align: center;
}

.resume-link {
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  font-weight: 300;
  text-decoration: underline;
}

.resume-link:hover {
  color: #265b4a;
  font-weight: 400;
}

.work-text-link {
  color: #585858;
}

.work-text-link:hover {
  color: #265b4a;
  font-weight: 400;
}

.work-text-link.w--current {
  color: #333;
}

.challenge {
  margin-top: -5px;
  padding-left: 15px;
  font-size: 17px;
  line-height: 23px;
  font-weight: 300;
}

.blog-button {
  margin-top: 9px;
  margin-left: 71px;
  border-radius: 2px;
  background-color: #265b4a;
}

.text-feild {
  border-color: rgba(128, 128, 128, 0.26);
  border-radius: 2px;
  background-color: #fafafa;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Roboto, sans-serif;
  font-size: 13px;
}

.text-feild:focus {
  border-color: #265b4a;
  box-shadow: #265b4a 0px 0px 5px 1px;
}

.submit-button {
  margin-top: 16px;
  float: left;
  border-radius: 2px;
  background-color: #265b4a;
  font-family: Roboto, sans-serif;
}

.header {
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #265b4a;
  font-weight: 900;
}

.interestslikes {
  max-width: 475px;
  margin-top: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.like-icon {
  display: inline-block;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

.likes {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: Roboto, sans-serif;
  color: #585858;
  font-size: 17px;
  font-weight: 500;
}

.pic-div {
  max-height: 300px;
  max-width: 300px;
  min-height: 300px;
  min-width: 300px;
  margin-top: 15px;
  float: right;
  background-image: url('../images/Headshot Circle.png'), url('../images/B&W Photo of Me.png');
  background-position: 0px 0px, 0px 0px;
  background-size: contain, contain;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.pic-div:hover {
  background-image: url('../images/B&W Photo of Me.png');
  background-position: 0px 0px;
  background-size: contain;
}

.message-box.text-feild {
  font-family: Roboto, sans-serif;
  font-size: 13px;
}

.resume-image {
  min-width: 60%;
  margin-top: 100px;
  margin-bottom: 50px;
  border: 1px solid #4e4e4e;
  box-shadow: #303030 1px 1px 3px 0px;
}

.top-image-section {
  height: 650px;
  min-height: 440px;
  background-color: black;
  background-image: -webkit-radial-gradient(31% 53% circle, transparent 16%, rgba(0, 0, 0, 0.68) 49%, rgba(0, 0, 0, 0.84) 75%, rgba(0, 0, 0, 0.99) 99%), url('../images/MayimEventPicCover.jpg');
  background-image: radial-gradient(circle at 31% 53%, transparent 16%, rgba(0, 0, 0, 0.68) 49%, rgba(0, 0, 0, 0.84) 75%, rgba(0, 0, 0, 0.99) 99%), url('../images/MayimEventPicCover.jpg');
  background-position: 0px 0px, 0px 50px;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  font-family: Roboto, sans-serif;
}

.top-image-section:hover {
  font-family: Roboto, sans-serif;
}

.top-image-section._4-year {
  height: auto;
  background-color: white;
  background-image: none;
  background-position: 0px 50px;
  background-size: cover;
  background-repeat: no-repeat;
}

.top-image-section.mayim {
  height: auto;
}

.top-image-section.codesketch {
  height: auto;
  background-color: white;
  background-image: none;
}

.section1 {
  height: 550px;
  background-color: #ebebeb;
}

.section1.section06 {
  height: auto;
}

.section1._07 {
  height: auto;
}

.section2 {
  height: auto;
  background-color: #fcfcfc;
}

.section2._02 {
  height: 650px;
  background-color: #ebebeb;
}

.top-image-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.top-image-container.mayim-top {
  padding-top: 175px;
  padding-bottom: 150px;
}

.top-image-div-in-container {
  float: right;
}

.top-image-div-in-container.cs-top {
  margin-top: 100px;
  float: none;
}

.codesketch-title {
  margin-bottom: 0px;
  padding-top: 15px;
  font-family: Roboto, sans-serif;
  color: #343434;
  font-size: 49px;
  line-height: 49px;
  font-weight: 300;
}

.cs-logo {
  height: 200px;
  margin-top: 20px;
}

.subtitile {
  margin-top: 5px;
  padding-top: 5px;
  font-family: Roboto, sans-serif;
  color: #343434;
  font-size: 21px;
  line-height: 22px;
  font-weight: 300;
}

.section1-container {
  padding-top: 75px;
  padding-bottom: 0px;
}

.section1-container.cs-01 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.m-home-button {
  width: 40px;
  margin-top: 10px;
  margin-left: 15px;
}

.top-image {
  float: none;
  clear: none;
}

.entry-paragraph-text {
  width: 460px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-size: 140%;
  line-height: 160%;
  font-style: normal;
  font-weight: 300;
  text-align: left;
}

.entry-paragraph-text.section03 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.entry-paragraph-text._02-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.entry-paragraph-text._02-text._4yr {
  margin-bottom: 10px;
}

.entry-paragraph-text.my-role-paragraph {
  max-width: 410px;
  margin-top: 15px;
  font-size: 17px;
  line-height: 29px;
}

.entry-title {
  margin-bottom: -1px;
  font-family: Lato, sans-serif;
  font-size: 24px;
}

.image-colum {
  text-align: center;
}

.image-colum.right-column {
  padding-right: 20px;
}

.caption {
  margin-top: 4px;
  padding-right: 25px;
  padding-left: 25px;
  color: #757575;
  font-style: italic;
  text-align: center;
}

.caption.section06 {
  padding-right: 35px;
  padding-left: 35px;
}

.entry-photo {
  width: 400px;
  margin-top: 0px;
}

.entry-photo.photo-top-margin {
  width: 360px;
  margin-top: 0px;
}

.entry-photo.photo-top-margin.large-margin {
  width: 250px;
  margin-top: 15px;
}

.entry-photo.top-margin {
  margin-top: 75px;
}

.paragraph-right {
  padding-left: 20px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.back-to-projects-button {
  border: 2px solid #265b4a;
  border-radius: 2px;
  background-color: white;
  font-family: Roboto, sans-serif;
  color: #265b4a;
  font-weight: 500;
}

.back-to-projects-button.cs-button {
  margin-top: 65px;
  margin-left: 75px;
}

.bottom-section {
  height: 200px;
  background-color: #ebebeb;
  text-align: center;
}

.blog-but {
  border-radius: 2px;
  background-color: #265b4a;
  font-family: Roboto, sans-serif;
}

.blog-but.button {
  margin: 50px 10px;
}

.project-footer {
  background-color: #292929;
}

.paper-pic {
  width: 325px;
  margin-top: 13px;
}

.view-skills {
  width: 375px;
  margin-top: 23px;
}

.large-section {
  height: 1150px;
}

.large-section.cs-large {
  height: auto;
}

.video-cs-homepage {
  margin-top: 30px;
  margin-left: 15px;
}

.section-01 {
  height: auto;
  padding-bottom: 50px;
  background-color: #fcfcfc;
}

.section-01.mayim-sect-1 {
  padding-bottom: 0px;
}

.section-01.grey-back {
  padding-bottom: 0px;
  background-color: #ebebeb;
}

.section-01._4yr-01 {
  background-color: #ebebeb;
}

.section-03 {
  background-color: #ebebeb;
}

.section-03._03 {
  height: 850px;
}

.emergent-qs {
  margin-bottom: 5px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

.question {
  margin-top: 5px;
  font-size: 130%;
  line-height: 140%;
  font-weight: 300;
  text-align: left;
}

.question.q2 {
  margin-top: 0px;
}

.text-colum {
  font-family: Roboto, sans-serif;
}

._2nd-pic {
  width: 250px;
  margin-top: 15px;
}

.photo-here {
  width: 357px;
  margin-top: 16px;
  margin-left: 27px;
}

._4year-photo2 {
  width: 500px;
  margin-top: 14px;
}

._4year-photo3 {
  width: 250px;
  margin-top: 40px;
}

.container {
  text-align: center;
}

.text-section {
  height: 150px;
  background-color: #ebebeb;
}

.massimo-text {
  width: auto;
  margin-top: 125px;
  font-family: Roboto, sans-serif;
  color: #4b4b4b;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
}

.mass-section {
  padding-top: 50px;
}

.pdf-download.blog-button.resume-button {
  display: inline-block;
  margin-bottom: 40px;
}

.pdf-button-section {
  margin-bottom: 2px;
}

.pdf-body {
  background-color: #f3f3f3;
}

.contact-conainer {
  margin-top: 20px;
}

.photos-slider {
  width: 600px;
  height: 450px;
  float: right;
}

.slide1 {
  background-image: url('../images/MayimEventPic5.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.mayim-header {
  width: 425px;
  margin-right: 0%;
  font-family: Lato, sans-serif;
  color: #fafafa;
  font-size: 60px;
  line-height: 65px;
  text-align: left;
}

.mayimsubtitle {
  width: auto;
  max-width: 400px;
  margin-top: 0px;
  color: #f3f3f3;
  font-size: 17px;
  line-height: 21px;
  text-align: left;
}

.slide2 {
  background-image: url('../images/MayimEventPic3.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.event-heading {
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  font-size: 22px;
}

.left-text-colum {
  padding-right: 15px;
  padding-left: 15px;
}

.eventoverview-paragraph.about-me-text {
  overflow-x: visible;
  overflow-y: visible;
  max-height: 302px;
}

.eventoverview-paragraph.entry-paragraph-text {
  width: auto;
  margin-top: 0px;
  float: right;
  font-size: 17px;
  line-height: 29px;
}

.my-role-header {
  text-align: center;
}

.my-role-header.event-heading {
  margin-top: 75px;
  font-size: 35px;
}

.read-more {
  font-family: Roboto, sans-serif;
  font-size: 13px;
}

.slide3 {
  background-image: url('../images/MB College Day-DSC_8315.png');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide4 {
  background-image: url('../images/Mayim Bialik College Day at UCSD-IMG_0177 (1).png');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.slide-5 {
  background-image: url('../images/Mayim Bialik College Day at UCSD-IMG_9937F (1).png');
  background-position: 59% 50%;
  background-size: cover;
}

.more-info {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.flat-button {
  margin: 70px 10px;
  border: 1px solid #4ba689;
  border-radius: 4px;
  background-color: #265b4a;
  box-shadow: #4ba689 0px 3px 0px 0px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: white;
}

.flat-button:hover {
  background-color: #1d4639;
}

.flat-button:active {
  box-shadow: none;
  -webkit-transform: translate(0px, 3px);
  -ms-transform: translate(0px, 3px);
  transform: translate(0px, 3px);
}

.flat-button.submit-button {
  display: block;
  width: 75px;
  margin: 15px auto 0px;
  float: none;
}

.top-container {
  margin: 150px 20px 85px;
}

.bottom-section-grey {
  background-color: #ebebeb;
  text-align: center;
}

.bottom-section-white {
  background-color: #fcfcfc;
  text-align: center;
}

.section-grey {
  background-color: #ededed;
}

.section-white {
  background-color: white;
}

.project-text-link {
  text-decoration: none;
}

.project-text-label {
  font-family: Roboto, sans-serif;
  color: #474747;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.project-text-label:hover {
  text-decoration: underline;
}

.project-text-label.graphics-text-label:hover {
  text-decoration: none;
}

.project-text-subtitle {
  margin-top: -2px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

.project-div {
  display: inline-block;
  width: 220px;
}

.ucsd-logo {
  width: 300px;
}

.left-column {
  padding-left: 20px;
}

.right-column {
  padding-right: 20px;
  text-align: center;
}

html.w-mod-js *[data-ix="fade-in"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="scroll-fade-in"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="fade-in-2"] {
  opacity: 0;
  -webkit-transform: translate(-75px, 0px);
  -ms-transform: translate(-75px, 0px);
  transform: translate(-75px, 0px);
}

html.w-mod-js *[data-ix="pop-towards-hover-enlarge"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="delay1-pop-towards-hover-enlarge-3"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="delay2-pop-towards-hover-enlarge-2"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="pop-towards-no-delay"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="pop-towards-delay1"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="pop-towards-delay-2"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="pop-towards-delay-3"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="fade-in-3"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="pop-downwards"] {
  opacity: 0;
  -webkit-transform: translate(0px, -30px);
  -ms-transform: translate(0px, -30px);
  transform: translate(0px, -30px);
}

html.w-mod-js *[data-ix="pop-downwards-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, -30px);
  -ms-transform: translate(0px, -30px);
  transform: translate(0px, -30px);
}

html.w-mod-js *[data-ix="pop-upwards-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="pop-from-left"] {
  opacity: 0;
  -webkit-transform: translate(-150px, 0px);
  -ms-transform: translate(-150px, 0px);
  transform: translate(-150px, 0px);
}

html.w-mod-js *[data-ix="pop-from-right"] {
  opacity: 0;
  -webkit-transform: translate(150px, 0px);
  -ms-transform: translate(150px, 0px);
  transform: translate(150px, 0px);
}

html.w-mod-js *[data-ix="pop-towards-only"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

html.w-mod-js *[data-ix="pop-downwards-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
}

html.w-mod-js *[data-ix="pop-downwards-delay1-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, -40px);
  -ms-transform: translate(0px, -40px);
  transform: translate(0px, -40px);
}

html.w-mod-js *[data-ix="pop-towards-hover-enlarge-small"] {
  opacity: 0;
  -webkit-transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8);
  transform: scale(0.8, 0.8);
}

@media (max-width: 991px) {
  .background {
    height: 500px;
  }
  .about.about-container {
    height: auto;
  }
  .about.contact-section {
    height: 375px;
  }
  .about-me-text {
    font-size: 15px;
  }
  .quote {
    width: 45%;
    margin-top: 200px;
    margin-right: 50px;
    font-size: 150%;
    text-align: left;
  }
  .resume-link {
    font-size: 13px;
  }
  .resume-link.news-link {
    font-size: 13px;
  }
  .challenge {
    font-size: 14px;
    line-height: 21px;
  }
  .interestslikes {
    display: none;
    overflow-x: visible;
    overflow-y: visible;
    width: 350px;
  }
  .pic-div {
    width: 200px;
    height: 200px;
    min-height: auto;
    min-width: auto;
    margin-left: 20px;
  }
  .top-image-section._4-year {
    height: auto;
    min-height: auto;
  }
  .top-image-section.mayim {
    min-height: auto;
  }
  .top-image-container.mayim-top {
    padding-top: 300px;
    padding-bottom: 0px;
    text-align: center;
  }
  .top-image-div-in-container {
    display: inline-block;
    float: none;
    text-align: center;
  }
  .codesketch-title {
    margin-top: 15px;
    padding-top: 0px;
    font-size: 25px;
    line-height: 31px;
  }
  .cs-logo {
    height: 150px;
  }
  .subtitile {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 15px;
    line-height: 20px;
  }
  .section1-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section1-container.cs-01 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section1-container.last-section {
    padding-bottom: 0px;
  }
  .top-image {
    width: 325px;
    height: auto;
    margin-top: 0%;
  }
  .entry-paragraph-text {
    width: auto;
    float: none;
    font-size: 14px;
    line-height: 22px;
  }
  .entry-paragraph-text.my-role-paragraph {
    font-size: 14px;
    line-height: 24px;
  }
  .caption {
    font-size: 10px;
    line-height: 13px;
  }
  .entry-photo {
    width: 352px;
  }
  .entry-photo.photo-top-margin {
    width: 300px;
  }
  .entry-photo.photo-top-margin.large-margin {
    width: 225px;
  }
  .entry-photo.top-margin {
    width: 300px;
  }
  .paragraph-right {
    padding-right: 20px;
  }
  .bottom-section.section-white._4-yr {
    height: 150px;
  }
  .paper-pic {
    width: 300px;
  }
  .view-skills {
    width: 325px;
  }
  ._2nd-pic {
    width: 225px;
  }
  .photo-here {
    width: 275px;
    float: none;
  }
  ._4year-photo3 {
    width: 225px;
    margin-left: 50px;
  }
  .photos-slider {
    width: 450px;
    height: 300px;
  }
  .mayim-header {
    display: inline-block;
    width: 600px;
    margin-bottom: 0px;
    font-size: 45px;
  }
  .mayimsubtitle {
    display: inline-block;
    width: 450px;
    max-width: 450px;
    margin-bottom: 25px;
    font-size: 15px;
  }
  .eventoverview-paragraph.entry-paragraph-text {
    font-size: 14px;
    line-height: 24px;
  }
  .more-info {
    font-size: 14px;
  }
  .ucsd-logo {
    width: 225px;
  }
  .all-questions {
    font-size: 75%;
    line-height: 18px;
  }
}

@media (max-width: 767px) {
  h4 {
    text-align: left;
  }
  p {
    text-align: left;
  }
  strong {
    text-align: left;
  }
  .nav-bar-center {
    height: auto;
    font-size: 12px;
  }
  .nav-text {
    display: block;
    float: none;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    background-color: #265c4a;
    color: white;
    font-size: 17px;
    line-height: 18px;
  }
  .nav-text.w--current {
    display: block;
    float: none;
    border-style: solid solid none;
    border-width: 1px 1px 0px;
    border-color: #d1d1d1;
    color: white;
    font-size: 17px;
  }
  .background {
    height: 375px;
  }
  .about.about-container {
    height: 300px;
    margin-bottom: 75px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about.contact-section {
    height: 300px;
  }
  .work-div.section {
    margin-top: 75px;
    margin-bottom: 75px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
  .work-header-text {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 30px;
  }
  .contact-section.contact-class2 {
    margin-top: 75px;
    margin-bottom: 30px;
    padding-top: 50px;
  }
  .contact-form {
    width: 230px;
    padding-top: 0px;
  }
  .feild-label {
    margin-bottom: 0px;
    font-size: 13px;
  }
  .feild-label.top-field-label {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 13px;
  }
  .work-container {
    margin-bottom: 20px;
    padding-right: 100px;
    padding-left: 100px;
  }
  .about-me-text {
    font-size: 12px;
    line-height: 22px;
  }
  .hi {
    font-size: 30px;
  }
  .quote {
    margin-top: 150px;
    margin-right: 40px;
    line-height: 40px;
  }
  .work-icon {
    display: block;
    width: 175px;
    height: 175px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
  }
  .navbar {
    box-shadow: black 0px 0px 25px 0px;
  }
  .footer {
    padding-left: 25px;
  }
  .footer-text {
    margin-left: 20px;
  }
  .form {
    width: 230px;
    text-align: center;
  }
  .resume-link {
    display: none;
  }
  .resume-link.news-link {
    display: none;
  }
  .challenge {
    display: inline-block;
    width: 325px;
    text-align: center;
  }
  .text-feild {
    width: 230px;
    height: 25px;
    font-size: 12px;
    line-height: 17px;
  }
  .submit-button {
    height: 30px;
    float: none;
    font-size: 13px;
    line-height: 11px;
  }
  .header {
    margin-top: 0px;
    font-size: 30px;
  }
  .pic-div {
    width: 175px;
    height: 175px;
    margin-top: 10px;
  }
  .message-box.text-feild {
    font-size: 12px;
  }
  .top-image-section.codesketch {
    min-height: 0px;
  }
  .cs-logo {
    height: 200px;
  }
  .section1-container {
    padding-top: 30px;
    padding-bottom: 0px;
    text-align: center;
  }
  .section1-container.cs-01 {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .m-home-button {
    width: 30px;
    margin-top: 15px;
  }
  .top-image {
    display: none;
  }
  .entry-paragraph-text {
    display: inline-block;
    width: 325px;
    min-width: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .entry-paragraph-text.my-role-paragraph {
    width: 450px;
  }
  .image-colum.right-column {
    text-align: center;
  }
  .image-colum.disapear {
    display: none;
  }
  .image-colum._4yr-disappear {
    display: none;
  }
  .caption {
    display: inline-block;
    width: 325px;
  }
  .caption.section06 {
    display: inline-block;
    width: 325px;
  }
  .caption.disappear {
    display: none;
  }
  .entry-photo {
    width: 325px;
    margin-top: 20px;
  }
  .entry-photo.photo-top-margin.disappear {
    display: none;
  }
  .entry-photo.top-margin {
    margin-top: 20px;
  }
  .bottom-section.section-white._4-yr {
    height: 125px;
  }
  .video-cs-homepage {
    display: inline-block;
    width: 425px;
  }
  .photo-here {
    width: 225px;
  }
  ._4year-photo3 {
    width: 200px;
    margin-top: 15px;
  }
  .menu-but.w--open {
    background-color: #265c4a;
  }
  .hamburger-icon {
    width: auto;
    color: #4ba689;
  }
  .hamburger-icon:hover {
    color: #265c4a;
  }
  .nav-menu {
    box-shadow: black 0px 1px 20px 0px;
  }
  .photos-slider {
    display: inline-block;
    float: none;
  }
  .mayim-header {
    width: 470px;
    margin-bottom: 20px;
    font-size: 35px;
  }
  .mayimsubtitle {
    display: none;
  }
  .left-text-colum.left-column {
    text-align: center;
  }
  .eventoverview-paragraph.entry-paragraph-text {
    display: inline-block;
    width: 450px;
    float: none;
  }
  .mayim-lightbox {
    width: 450px;
  }
  .more-info {
    width: 500px;
  }
  .flat-button {
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .top-container {
    margin-top: 75px;
    margin-bottom: 50px;
  }
  .ucsd-logo {
    margin-top: 20px;
  }
  .left-column {
    display: block;
  }
  .all-questions {
    display: inline-block;
    width: 325px;
  }
  .right-column {
    text-align: center;
  }
  .center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .nav-text {
    font-size: 15px;
    line-height: 10px;
  }
  .nav-text.w--current {
    font-size: 15px;
  }
  .background {
    position: relative;
    height: 500px;
    background-size: 640px;
    background-repeat: repeat-y;
  }
  .about.about-container {
    height: auto;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  .about.contact-section {
    height: auto;
  }
  .work-div.section {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    text-align: center;
  }
  .work-header-text {
    margin-bottom: 0px;
  }
  .contact-section.contact-class2 {
    margin-top: 50px;
  }
  .work-container {
    display: block;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .about-me-text {
    height: auto;
    max-height: 200px;
    max-width: 651px;
    margin-bottom: 20px;
    font-size: 13px;
    text-align: left;
  }
  .hi {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
  .quote {
    display: block;
    width: 47%;
    margin-top: 225px;
    margin-right: auto;
    margin-left: auto;
    float: none;
    font-size: 16px;
    line-height: 25px;
  }
  .work-icon {
    position: static;
    display: inline-block;
    clear: none;
  }
  .work-section {
    text-align: center;
  }
  .footer-big-text {
    margin-left: 0px;
  }
  .challenge {
    width: 275px;
  }
  .pic-div {
    display: inline-block;
    width: 100px;
    height: 100px;
    max-height: 100px;
    max-width: 100px;
    min-height: auto;
    min-width: auto;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    float: none;
    clear: none;
    text-align: center;
  }
  .top-image-section.mayim {
    background-image: url('../images/MayimEventPic3.jpg');
    background-position: 0px 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .top-image-container.mayim-top {
    height: 400px;
    padding-top: 75px;
  }
  .entry-paragraph-text {
    width: 275px;
  }
  .entry-paragraph-text.my-role-paragraph {
    display: inline-block;
    width: 250px;
    padding-top: 1px;
  }
  .entry-photo {
    width: 250px;
  }
  .entry-photo.top-margin {
    width: 250px;
  }
  .div-to-center-pic {
    text-align: center;
  }
  .photos-slider {
    width: 275px;
    height: 200px;
  }
  .mayim-header {
    width: 225px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }
  .eventoverview-paragraph.entry-paragraph-text {
    width: 275px;
  }
  .mayim-lightbox {
    width: 275px;
  }
  .project-text-label {
    display: inline-block;
  }
  .project-div {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .all-questions {
    width: 275px;
  }
  .colum {
    padding-right: 0px;
    text-align: center;
  }
}

